!dfo-bb046-20210511/process_deploymentRealTime.py
!dfo-bb046-20210511/plotDeploymentMap.py
!dfo-bb046/dfo-bb046-20210511/plotBattery.py

!dfo-walle652/dfo-walle652-20210121/process_deploymentRealTime.py
!dfo-walle652/dfo-walle652-20210121/plotDeploymentMap.py
!dfo-walle652/dfo-walle652-20210121/plotBattery.py

dfo-bb046/
dfo-walle652/


.process.log
.process_battery.log
.process_map.log
CalvertLine.txt
LineP.txt
__pycache__/
british_columbia_3_msl_2013.nc
calvert.html
cproof-deployments.geojson
cproof-deployments_all.geojson
dfo-bb046.txt
dfo-walle652.txt
exclude.txt
linep.html
mission_all.txt
process-dfo-bb046-20210511_jp.sh

